<!DOCTYPE>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  <style type="text/css">
      @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

      body {
        font-family: 'Lato', Calibri, Arial, sans-serif;
        font-weight: 400;
        font-size: 100%;
        color: #fff;
        background-color: #000;
      }

      h1 {
        font-size: 16px; color: #fff;
      }

      p { font-size: 12px; color: #fff;}

 </style>

</head>
<body>

  <table style="width: 600px;">
    <thead>
    <tr>
      <th colspan="2"><h1 style="font-size: 16px;">NYX MYTH | Your Chapter section is ready</h1></th>
      <th colspan="2"><img src="http://nyxmyth.herokuapp.com/images/nyx_0.jpg"  style="
 border: 10px solid #ccc; margin: 5px; width: 250px;" ></th>
      <th colspan="2"><p><a href="http://www.nyxmyth.com">Let's Read</a></p></th>
      <th colspan="2"><img src="http://nyxmyth.herokuapp.com/images/nyx_1.jpg"  style="
 border: 10px solid #ccc; margin: 5px; width: 250px;" ></th>

    </tr>
  </thead>

    <tr>
      <td><img src="http://nyxmyth.herokuapp.com/images/nyx_2.jpg"  style="
 border: 10px solid #ccc; margin: 5px; width: 250px;" > </td>
      <td><img src="http://nyxmyth.herokuapp.com/images/nyx_3.jpg"  style="
 border: 10px solid #ccc; margin: 5px; width: 250px;" > </td>
     <td><img src="http://nyxmyth.herokuapp.com/images/nyx_4.jpg"  style="
 border: 10px solid #ccc; margin: 5px; width: 250px;" > </td>
      <td>      <img src="http://nyxmyth.herokuapp.com/images/nyx_3.jpg"  style="
 border: 10px solid #ccc; margin: 5px; width: 250px;" > </td>
    </tr>

</table>

  </body>
  </html>