<!DOCTYPE>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Your Chapter section is ready</h1>
  <p><a href="http://www.nyxmyth.com">Let's Read</a></p>

  </body>
  </html>