
<%= render "home/new" %>

<!-- ======== FORM -->
<!-- <div class="sign_in_form">
  <!-- <h4>Please sign in</h4> -->
  <!-- <div class="row">
      <div class="col-lg-6">




      </div>
     <div class="col-lg-6">

     </div>

   </div>

</div> -->

