
        <div class="login">
          <h1>Login</h1>
            <form method="post">
              <input type="text" name="u" placeholder="Username" required="required" />
                <input type="password" name="p" placeholder="Password" required="required" />
                <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
            </form>
        </div>

<!--             <form class="wunderlog" action="">
              <div class="inputwrapper">
                <input type="textarea" placeholder="Username"/><i
                class="username"></i>
              </div>
              <div class="inputwrapper">
                <input type="textarea" placeholder="Password"/><i class="password"></i>
              </div>
            </form> -->
