<div class="row">
    <div class="padder">

            <form id="myform">
              <select id="fs">
                  <option value="Lato">Lato</option>
                  <option value="Arial">Arial</option>
                  <option value="Verdana">Verdana </option>
                  <option value="Helvetica">Helvetica</option>

              </select>

              <select id="size">
                  <option value="40">Biggie-Smalls</option>
                  <option value="50">Large</option>
                  <option value="60">Phat</option>
                  <option value="70">Massive</option>
              </select>
          </form>


<div id="changeMe" class="">
      <div class="btn-chapter-title h2"><%= @section.section_title %></div>
                <h2><%= raw( @section.pages) %></h2>
</div>

    <div class="marketing">
    <h3 class="bottomer">Are you enjoying this?<br/>Support a Creative</h3>

    <a href="<%= @section.chapter.book_url %>" class="btn-signup_reading">BUY THE BOOK</a>

   </div>
  </div>
</div>

<script>
$("#fs").change(function() {
    //alert($(this).val());
    $('div.changeMe *').css("font-family", $(this).val());

});

$("#size").change(function() {
    $('div.changeMe * ').css("font-size", $(this).val() + "px");

});

</script>


