<!DOCTYPE>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  <style type="text/css">
      @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

      body {
        font-family: 'Lato', Calibri, Arial, sans-serif;
        font-weight: 400;
        font-size: 100%;
        color: #fff;
        background-color: #000;
      }

      h1 {
        font-size: 24px; color: #fff;
      }

      p { font-size: 12px; color: #fff;}

      img {
        /*border: 10px solid #ccc; */
        margin: 5px;
        width: 100%;

      a {
            font-size: 16px;
            color: #fff;
            text-decoration: none;
            color: #00FF8E;
          }

          .btn-signup {
            color: #fff;
            position: relative;
          /*  float: center;*/
            font-size: 2em;
            padding: 10px;
            width: 300px;
            background-color: #00FF8E;
            border-radius: 6px;
            margin: 20px; auto;
            display: block;
          }

 </style>

</head>
<body>

  <table style="width: 700px;">
    <thead>
    <tr>
      <th colspan="2"><h1 style="font-size: 16px;">NYX MYTH | Your Chapter section is ready</h1><p><a href="http://www.nyxmyth.com" style="btn-signup">Let's Read</a></p>
      </th>
    </tr>
  </thead>

    <tr>
      <td><img src="http://nyxmyth.herokuapp.com/images/nyx_0.jpg"></td>
    </tr>

        <tr>
      <th colspan="2"><h1 style="font-size: 16px;">NYX MYTH | Your Chapter section is ready</h1><p><a href="http://www.nyxmyth.com" style="btn-signup">Let's Read</a></p>
      </th>
    </tr>

</table>

  </body>
  </html>