@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

/*==== Contents ====*/
    /*====      ====*/

/*[1] Global */
/*[2] Header Nav */
/*[3] Spacers & Containers */
/*[4] Text menu */
/*[5] Sign In Form */


/*==== [1] Global ====*/

body {
    font-family: 'Montserrat', sans-serif;
}

.about-img {
  width: 100%;
}

a {
  color:#00FF8E;
}

p {
  font-style: 1.8em;
  line-height: 2em;
  margin-bottom: 20px;
}

h2 {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

h6 {
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'Lato' ,sans-serif;
}

textarea {
  width: 100%;
  padding: 20px;
}

li {
  list-style: none;
}

.centra {
  margin: 0 auto;
}

#disqus_thread {
  padding: 30px;
  margin: 20px;
}


.home_imag {
  width: 100%;
  max-width: 600px;
}

.black {
  margin: 20px auto;
  background-color: black;
}

.border {
 border: 10px solid #ccc;
 margin: 5px;
}

#tweeter {
 margin:5px  0  0 0;
}

*== [2] Header Nav ==*/

div.navbar {
/*max-height: 80px;*/
}

.menu-icon {
  background: url(../images/menu-icon.png);
  width:25px;
  height:20px;
  display: block;
}

.menu-icon2 {
  background: url(../images/menu-icon.png);
  width:25px;
  height:20px;
  display: block;
}

a:hover, a.brand:hover {
/*  padding: 5px;*/
  color: #fff;
  background-color: #00FF8E;
}

.navbar-nav > li > a:focus {
  color:#fff;
  background-color:#00FF8E;
  padding: 10px 15px;
 /* padding: 10px 13px 8px 13px;*/
/*  font-weight: bold;
  font-size: 14px;*/
}

.navbar-nav > li > a:active {
  color:#fff;
  background-color:#00FF8E;
  padding: 10px 13px 8px 13px;
/*  font-weight: bold;
  font-size: 14px;*/
}

a.li:active {
  padding: 10px 13px 8px 13px;
}

.dropdown-menu > li > a {
 width: 100%;
 background-color: #ddd;
 padding: 20px;
}

.dropdown-menu > li > a:active {
background-color: #00FF8E;
width: 100%;
padding: 20px;
}

.nav .navbar-nav > li > a {
  padding: 20px;
}

/*[3] Spacers & Containers */

div.selection {
  margin: 20px;
  width:100%;
  text-align: center;
}

#chapter-container, #chapter_container {
  margin: 60px;
}

.line-heighter {
  line-height: 2em;
}

#marginer {
  margin: 0 40px;
}

.marginer {
  max-width: 900px;
  margin: 0 40px 0 40px;
}

.bottomer {
  margin-bottom: 40px;
}

.marginer {
  margin: 0 20px;
}

.odd{
    background:#dedede;
    padding: 20px;
    border-radius: 6px;
}

.even{
    background:#fff;
    padding: 20px;
    border-radius: 6px;
}

#chapter-container {
  margin: 80px 20px;
  width: 90%;
}

.padder {
  margin: 0 10px;
}

/*==== Font Menu ====*/

#fs, #size, select {
font-size: 1.4em;
padding: 20px;
background-color: #fff;
border: none;
border-radius: 8px;
color: #333;
margin-top: 10px;
}

#size {
margin-left: 10px;
}

/*==== Input Forms ====*/


input::-moz-placeholder  {
  height:100px;
  width:100%;
  color: #fff;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  padding: 10px;
  background-color: #00FF8E;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #fff;
}

.navbar {
    text-align: center;
    font:12px Arial, Helvetica, sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    font-family: 'Montserrat', sans-serif;
}

.pull-center {
  width: 80%;
  margin: auto;
}

label {
    font-family: 'Montserrat', sans-serif;
}

.topper {
  margin-top: 51px;
}

button {
  border: none;
}

.read-menu {
  color: #fff;
  position: fixed;
  float: left;
  padding: 9px 10px;
  margin: -40px 0 0 0;
  background-color: #00FF8E;
  border: 1px solid #dddddd;
  border-radius: 6px;
  z-index: 2000;
  cursor: pointer;
}

ul li {
  list-style: none;
}

#error_explanation {
width: 100% !important;
clear: both;
padding-top: 20px;
background: #f57564;
text-align: center;
color: #fff;
}

.lefting {
  margin-left: -40px;
  cursor: pointer;
}

.col-marg {
  padding: 0 15px;
  margin-right: 30px;
}

.read-menu:hover,
.read-menu:focus {
  background-color: #dddddd;
}

#read-panel {
margin-bottom: 40px;
}

div.padder {
  padding: 0px 40px;
  margin: 10px 20px 20px 20px;
  position: relative;
}

.marketing {
  margin-top: 40px;
  padding: 30px;
  background-color: #c080e3;
}

.margin-spacer {
  margin: 20px 0;
}


/*== Buttons ==*/

.notice {
  margin: 10px 0 ;
  padding: 0 0 0 0;
}

.btn-signup {
  color: #fff;
  position: relative;
/*  float: center;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  padding: 10px;
  width: 300px;
  background-color: #00FF8E;
  border-radius: 6px;
  margin: 0 auto;
  display: block;
}

.btn-signup_reading {
  color: #fff;
  position: relative;
/*  float: center;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  padding: 10px;
  width: 300px;
  background-color: #eb8cfa;
  border-radius: 6px;
  margin: 0 auto;
  cursor: pointer;
}

.btn-signup_reading:hover {
  background-color:#00FF8E;
}

.btn-signup2 {
  color: #fff;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  padding: 10px;
  width: 300px;
  background-color: #edb7a9;
  border-radius: 6px;
  margin: 0 auto;
  border: none;
}

.btn-signup:hover {
  background-color:#edb7a9;
}

.btn-signup2:hover {
  background-color:#eb8cfa;
}


.btn-signin, .btn-edit, .btn-delete {
  color: #fff;
  position: relative;
/*  float: center;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  border-radius: 6px;
  margin-top: 7px;
  padding: 10px;
/*  margin-left: 10px;*/
  cursor: pointer;
  display: inline-block;
  width: auto;

}

.btn-signin2 {
  margin-top: 40px;
  display: inline-block;
  width: auto;
  background-color: #00FF8E;
  color: #fff;
  position: relative;
/*  float: center;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  border-radius: 6px;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.btn-signin2:hover {
   background-color:#b58af5;
}


.btn-signin{
    background-color: #00FF8E;
}

.btn-warning{
    background-color: #edb7a9;
}

.btn-edit{
    background-color: #edb7a9;
}

.btn-delete{
    background-color: #e0493a;
}

.btn-section {
  color: #555;
  position: relative;
/*  float: center;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  width: 100%;
  background-color: #dddddd;
  border-radius: 6px;
  margin: 20px 0;
  padding: 20px;
/*  cursor: pointer;*/
}

.btn-chapter-title {
  color: #fff;
  position: relative;
/*  float: center;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  width: 100%;
  background-color: #00FF8E;
  border-radius: 6px;
  margin: 20px 0;
  padding: 30px;
/*  cursor: pointer;*/
}


.btn-register {
  color: #fff;
  position: relative;
/*  float: center;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  width: 100px;
  background-color: #edb7a9;
  border-radius: 6px;
  margin-top: 7px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

a.btn-signin {
  color: #fff;
}


a:hover {
  text-decoration: none;
}

h4 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  margin: 20px;
}

h5 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  margin: 20px;
}

.mint {
  color:#00FF8E;
  font-weight: 200;
}

.lefty {
margin-left: 120px;
}

.topp {
  margin: 20px 0 0 0;
}

div.center {
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

div.menu_container {
width: 90%;
max-width: 1220px;
margin: 0 auto;

}


.btn-buy {
  color:#fff;
  background-color:#00FF8E;
  padding: 10px 15px;
/*  font-weight: bold;
  font-size: 14px;*/
  }

/*== [5] Sign In Form ==*/

.sign_in_form {
margin-top: 30px;
}

#user_remember_me {
  height: 60px;
}

.raiders {
  color: #fff;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

input#user_avatar {
  text-align: center;
  padding: 20px;
}

input:focus {
  height:100px;
  width:100%;
  color: #fff;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  padding: 10px;
  background-color: #edb7a9;
  margin: 0 auto;
  text-align: center;
}

input  {
  height:100px;
  width:100%;
  color: #fff;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  padding: 10px;
  background-color: #00FF8E;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #fff;
  text-align: center;
}
