    <div id="footer">
      <div class="footer_container">
        <p class="text-muted credit">Copyright &#9400;<a href="http://nyxmyth.com">  NYX MYTH</a> Created by <img src="../../images/twitter_logo.png"> <a href="http://twitter.com/wbvg" target="new"> WBvG  </a>
<!-- <div class="tweeter"> -->
          <a href="http://twitter.com/wbvg" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


          <a href="https://twitter.com/share" class="twitter-share-button" data-text="I am reading a FREE chapter | READ NYX MYTH  | http://www.nyxmyth.com " data-count="none" data-size="large" >  Tweet </a>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</p>
<!-- </div> -->
      </div>
    </div>